ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="root", GROUP="system", MODE="0440"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="act", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="actr", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add", KERNEL=="hwlog_exception", OWNER="root", GROUP="log", MODE="0662"
ACTION=="add", KERNEL=="hwlog_jank", OWNER="root", GROUP="system", MODE="0662"
ACTION=="add", KERNEL=="hwlog_dubai", OWNER="root", GROUP="system", MODE="0662"
ACTION=="add", KERNEL=="dubai", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="log", MODE="0222"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="aod", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="uhid", GROUP="uhid", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="system", GROUP="radio", MODE="0664"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="v4l-touch*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="android_hdb", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="android_hdb_enable", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="dvb*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwvr0", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="hwvr1", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="hwvrdfu", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="acm", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="graphics/fb2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="rpmsg-hisi0", OWNER="media", GROUP="media", MODE="0600"
ACTION=="add", KERNEL=="memory_throughput", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="memory_throughput_up_threshold", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI0", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySPI1", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI2", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySPI3", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI4", OWNER="root", GROUP="root", MODE="0440"
ACTION=="add", KERNEL=="ttySPI5", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI6", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI7", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySPI8", OWNER="root", GROUP="root", MODE="0440"
ACTION=="add", KERNEL=="ttySPI9", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySPI10", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttySPI11", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySPI12", OWNER="root", GROUP="root", MODE="0440"
ACTION=="add", KERNEL=="ttySPI13", OWNER="root", GROUP="root", MODE="0440"
ACTION=="add", KERNEL=="ttySPI14", OWNER="root", GROUP="root", MODE="0440"
ACTION=="add", KERNEL=="hi_vdec", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="hi_venc", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev19", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev20", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="hisi-ivp", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="ivp-ipc", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="hicam_buf", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="memory_latency", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hifi_misc", OWNER="root", GROUP="audio", MODE="0770"
ACTION=="add", KERNEL=="hi6xxx_fpga_misc", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="dsm", OWNER="system", GROUP="dsm", MODE="0660"
ACTION=="add", KERNEL=="block/sdc1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="pn544", OWNER="nfc", GROUP="nfc", MODE="0660"
ACTION=="add", KERNEL=="cxd224x-i2c", OWNER="nfc", GROUP="nfc", MODE="0660"
ACTION=="add", KERNEL=="acpuddr_link_governor_level", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="appvcom*", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ar", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bastet", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="cahub", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="chrKmsgPlat", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cpu_dma_latency", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="fingerprint", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="fingerprinthub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="fingerprinthub_ud", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="flp", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="gpiochip*", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="hisi_perf_ctrl", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hisi_teelog", OWNER="root", GROUP="root", MODE="0400"
ACTION=="add", KERNEL=="hw_bfm", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwbfgdbg", OWNER="root", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="hwbfgexcp", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwbt", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="hwfm", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwgnss", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwlog_tag", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwwifiexcp", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="isp_log", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="kmsg_debug", OWNER="root", GROUP="root", MODE="0222"
ACTION=="add", KERNEL=="madapt", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="memory_bandwidth", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="motionhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="network_latency", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="network_throughput", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="nmctrlvcom", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="node", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="nve0", OWNER="root", GROUP="system", MODE="0770"
ACTION=="add", KERNEL=="oases", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="ois", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="pmom", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sensorhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tc_ns_client", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="tcm0", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="ts_aft_get_info", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="ts_aft_set_info", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="ttyAMA*", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="ttyHwGS*", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="voice_proxy_vowifi", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="watchdog*", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="wlanfty_common", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="wlanfty_status", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="wlanfty_ver", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="xt_qtaguid", OWNER="root", GROUP="root", MODE="0644"
